<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reconhecimento facial</title>
    <script defer src="../scripts/js/face-api.min.js"></script>
    <script defer src="../scripts/js/script.js"></script>

    <style>
        body {
            width: 100vw;
            height: 100vh;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        canvas {
            position: absolute;
        }
    </style>
</head>
<body>
    <video id="video" muted width="750" height="500" ></video>
</body>
</html>